@import url("./fonts/fonts.css");

:root {
  --primary-color: #002b3e;
  --secondary-color: #4ecbd6;
  --thirdy-color: #edf1f2;
}

.attendance-content {
  padding: 2rem;
}

.attendance-content .attendance-title {
  font-size: 2rem;
  letter-spacing: 0.2px;
  font-family: "bold";
  text-transform: uppercase;
  margin-bottom: -5px;
}

.attendance-content .attendance-date {
  font-size: 1.5rem;
  font-family: "metropolis-extralight";
  margin-bottom: 2.5rem;
}

.attendance-content .thead-tr {
  font-family: "bold";
  font-size: 10rem;
}
