@import url("./fonts/fonts.css");

:root {
  --primary-color: #002b3e;
  --secondary-color: #4ecbd6;
  --thirdy-color: #edf1f2;
}

.attendance-content {
  margin-top: 3rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 20px;
}

.attendance-content .attendance-title {
  font-size: 2rem;
  letter-spacing: 0.2px;
  font-family: "bold";
  text-transform: uppercase;
  margin-bottom: -5px;
}

.attendance-content .attendance-date {
  font-size: 1.5rem;
  font-family: "metropolis-extralight";
  margin-bottom: 2.5rem;
}

.attendance-content .thead-tr {
  font-family: "bold";
  font-size: 10rem;
}

.chart-container {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

.chart-container .line-chart,
.chart-container .bar-chart,
.chart-container .doughnut-chart {
  margin-top: 3rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 20px;
}

.chart-container .line-chart .line-chart-title,
.chart-container .bar-chart .bar-chart-title,
.chart-container .doughnut-chart .doughnut-chart-title {
  font-family: "bold";
  margin-bottom: 2rem;
}
