@import url("./fonts/fonts.css");

:root {
  --primary-color: #002b3e;
  --secondary-color: #4ecbd6;
  --thirdy-color: #edf1f2;
}

.employees-container {
  padding: 3rem;
  width: 100%;
}

.employees-container .title {
  font-size: 2.8rem;
  font-family: "bold";
  text-align: center;
  width: 75%;
  margin: 0 auto;
  letter-spacing: 0.15px;
}

.employees-container .info {
  font-family: "metropolis-extralight";
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 3rem;
  width: 75%;
  margin: 0 auto;
}

.employees-container span {
  font-family: "metropolis-extralight";
  color: black;
}

.employees-container .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  margin-top: 3.2rem;
}

.employees-container .cards-container .header {
  display: flex;
  gap: 1rem;
  padding: 0.8rem;
  position: relative;
  align-items: center;
}

.employees-container .cards-container .header .headercontent {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.employees-container .cards-container .header .headercontent:hover {
  cursor: pointer;
  background: #002b3e0e;
  border-radius: 10px;
  padding: 5px;
}

.employees-container .cards-container .header .header-text {
  display: flex;
  flex-direction: column;
  gap: 0.1px;
}

.employees-container .cards-container .header .header-text .header-name {
  font-family: "bold";
  font-size: 2rem;
  margin-bottom: 0;
}

.employees-container .cards-container .header .header-text .header-age {
  font-family: "metropolis-light";
  font-size: 1.1rem;
  margin-bottom: 0;
}

.employees-container .cards-container .header .send-message {
  display: flex;
  gap: 0.7rem;
  /* padding: 1rem 2.3rem; */
  width: 2.6rem;
  border-radius: 50px;
  color: var(--secondary-color);
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  transform: rotate(-40deg);
  transition: 0.5s;
}

.employees-container .cards-container .header .send-message:hover {
  transform: rotate(0deg);
}

.employees-container .cards-container #body {
  padding: 2rem;
  padding-top: 0;
}

.employees-container .cards-container #body .details {
  margin-bottom: 0.9rem;
}

.employees-container .cards-container #body .details .position-title,
.employees-container .cards-container #body .details .gender-title,
.employees-container .cards-container #body .details .skills-title {
  color: #333;
  font-size: 0.9rem;
  font-family: "metropolis-light";
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.employees-container .cards-container #body .details .position-value,
.employees-container .cards-container #body .details .gender-value,
.employees-container .cards-container #body .details .skills p {
  padding: 0.6rem 1.3rem;
  font-family: "metropolis-regular";
  background-color: #edeff3;
  border-radius: 10px;
  font-size: 1.2rem;
  display: inline;
  margin-bottom: 0;
}

.employees-container .cards-container .body .details .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
