@import url("./fonts/fonts.css");

:root {
  --primary-color: #002b3e;
  --secondary-color: #4ecbd6;
  --thirdy-color: #edf1f2;
}

.employees-container {
  padding: 2rem;
  width: 100%;
}

.employees-container .title {
  font-size: 1.8rem;
  font-family: "bold";
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.employees-container .info {
  font-family: "metropolis-extralight";
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 3rem;
  width: 75%;
  margin: 0 auto;
}

.employees-container span {
  font-family: "metropolis-extralight";
  color: black;
}

.employees-container .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.employees-container .cards-container .header {
  display: flex;
  gap: 1rem;
  padding: 0.8rem;
  position: relative;
}

.employees-container .cards-container .header .header-text {
  display: flex;
  flex-direction: column;
  gap: 0.1px;
}

.employees-container .cards-container .header .header-text h2 {
  font-family: "bold";
  font-size: 1.2rem;
  margin-bottom: 0;
}

.employees-container .cards-container .header .header-text p {
  font-family: "metropolis-light";
  font-size: 0.7rem;
  margin-bottom: 0;
}

.employees-container .cards-container .header .send-message {
  display: flex;
  gap: 0.7rem;
  padding: 0.5rem 0.9rem;
  width: 2.6rem;
  border-radius: 50px;
  color: var(--secondary-color);
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  transform: rotate(-40deg);
  transition: 0.5s;
}

.employees-container .cards-container .header .send-message:hover {
  transform: rotate(0deg);
}

.employees-container .cards-container .body .details {
  margin-bottom: 0.9rem;
}

.employees-container .cards-container .body .details h3 {
  color: #333;
  font-size: 0.6rem;
  font-family: "metropolis-light";
  margin-bottom: 0.1rem;
  text-transform: uppercase;
}

.employees-container .cards-container .body .details p {
  padding: 0.3rem 1rem;
  font-family: "metropolis-regular";
  background-color: #edeff3;
  border-radius: 50px;
  font-size: 0.8rem;
  display: inline;
  margin-bottom: 0;
}

.employees-container .cards-container .body .details .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
