.forumPage {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 10px;
}

.post {
  width: 1000px;
  height: auto;
  background: #002b3e;
  border: 20px solid rgba(255, 255, 255, .2);
  color: #edf1f2;
  border-radius: 15px;
  padding: 30px 40px;
  margin: 30px;
}

.post .title {
  font-size: 20px;
}

.post .body {
  font-size: 14px;
  color: #a4bfce;
}
.post .body:hover{
  cursor: pointer;
}

.post .footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.post .footer .byUser{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  font-size: 12px;
}

.post .footer .footertext{
  color: #a4bfce;
}

.post .footer .buttons {
display: flex;
column-gap: 10px;
}
.post .footer .buttons:hover {
  cursor: pointer;
}

.buttons .unlikeBttn{
  color: white;
}

.buttons .likeBttn{
  color: #a4bfce;
}

.TopicButton {
  align-self: flex-start;
  width: 250px;
  height: 50px;
  margin-top: 50px;
  margin-right: 25px;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 40px;
  background: #002b3e;
  color: #edf1f2;
}
.TopicButton .icon{
  font-size: 20px;
}
.TopicButton:hover {
  background: #002b3e;
}

/** //////////////////////////////////////////////////////////////// */

.addpostpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.wrapperaddpost {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  backdrop-filter: blur(17px);
  color: #edf1f2;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapperaddpost h1 {
  color: #002b3e;
  margin: 30px;
}

.wrapperaddpost button {
  width: 100%;
  height: 45px;
  background: #4ecbd6;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #002b3e;
  font-weight: 700;
}

.wrapperaddpost button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, .4);
}

.addpostpage .wrapperaddpost {
  width: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  backdrop-filter: blur(17px);
  color: #edf1f2;
  border-radius: 10px;
  padding: 30px 40px;
}

.addpost {
  position: relative;
  width: 600px;
  height: 100%;
  margin: 30px 0;
}

.addpostpage .input-boxtitle {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(49, 49, 49, 0.479);
  border-radius: 40px;
  font-size: 16px;
  color: #002b3e;
  padding: 20px 45px 20px 20px;
}

.addpostpage span {
  color: rgb(243, 148, 148);
  font-size: 12px;
}

.addpostpage input::placeholder{
  color: #7c7f80;
 }

 .addpostpage .input-boxtext {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(49, 49, 49, 0.479);
  border-radius: 40px;
  font-size: 16px;
  color: #002b3e;
  padding: 20px 45px 20px 20px;
 }

 .addpostpage .input-boxtext::placeholder {
  text-align: start;
 }
