@import url("./fonts/fonts.css");

:root {
  --primary-color: #002b3e;
  --secondary-color: #4ecbd6;
  --thirdy-color: #edf1f2;
}

.Page {
  display: flex;
  justify-content: center;
}

.container-left {
  display: flex;
  gap: 1rem;
  /* width: 100%; */
}

.home-content {
  padding: 1.8rem;
  margin: 0 auto;
  width: auto;
  margin-top: 1.5rem;
}
.home-content .main-title {
  margin-left: 1rem;
  font-family: "bold";
  font-size: 1.8rem;
  letter-spacing: 0.7px;
  color: #000;
}

.home-content .detail {
  background-color: #fff;
  padding: 1rem 1rem 0;
  border-radius: 25px;
  width: 35rem;
}

.home-content .container-left .detail {
  width: 60rem;
  padding: 1.7rem;
  margin-top: 0.8rem;
}

.home-content .title {
  font-family: "bold";
  font-size: 2rem;
  margin-bottom: -8px;
}

.home-content .detail .identity {
  font-family: "bold";
  font-size: 1.2rem;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #555;
}

.home-content .detail .value {
  font-family: "metropolis-light";
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.home-content .container-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-content .container-right .image {
  width: 35rem;
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content .container-right .image .avatar {
  width: 200px;
}

.home-content .container-right .image .checkin-button {
  font-family: "bold";
  letter-spacing: 0;
  margin: 1rem;
  padding: 0rem 3.5rem;
  height: 4.5rem;
  transition: 0.5s;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-top: 1.5rem;
}

.home-content .container-right .image .checkin-button:hover {
  font-size: 1.5rem;
  padding: 0rem 3rem;
  height: 4rem;
}

.home-content .container-right .info {
  width: 35rem;
  height: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.home-content .container-right .info .identity {
  text-align: center;
  font-family: "bold";
  font-size: 1.2rem;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.home-content .container-right .info .value {
  text-align: center;
  font-family: "metropolis-light";
  font-size: 1.8rem;
  margin-bottom: 0;
}
