@import url("./fonts/fonts.css");

:root {
  --primary-color: #002b3e;
  --secondary-color: #4ecbd6;
  --thirdy-color: #edf1f2;
}

.content .title {
  font-size: 1.7rem;
}

.content .title span {
  color: var(--secondary-color);
}

.content .container {
  background-color: #fff;
  border-radius: 10px;
  width: 61rem;
}

.content .container {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #fff;
  gap: 0.5rem;
  padding: 0.7rem;
}

.content .container .date-box {
  width: 8rem;
  height: 5rem;
  padding: 0.8rem;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s;
}

.content .container .date-box:nth-child(8n + 1) {
  background-color: #edf2fb;
}
.content .container .date-box:nth-child(8n + 2) {
  background-color: #d7e3fc;
}
.content .container .date-box:nth-child(8n + 3) {
  background-color: #ccdbfd;
}
.content .container .date-box:nth-child(8n + 4) {
  background-color: #c1d3fe;
}
.content .container .date-box:nth-child(8n + 5) {
  background-color: #abc4ff;
}
.content .container .date-box:nth-child(8n + 6) {
  background-color: #d6eadf;
}
.content .container .date-box:nth-child(8n + 7) {
  background-color: #b8e0d2;
}
.content .container .date-box:nth-child(8n + 8) {
  background-color: #95b8d1;
}
.content .container .date-box.libur {
  background-color: #eac4d5;
}

.content .container .date-box .date {
  font-size: 0.9rem;
}

.content .container .date-box p {
  font-family: "metropolis-light";
  margin-bottom: 0;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.content .container .date-box:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal-title {
  font-family: "bold";
}

.form-label {
  font-family: "metropolis-medium";
}
